body {
	padding: 30px;
}

p {
	margin-bottom: 15px;
}

/*buttons*/
.x-btn-default-large .add {
    background-image: url(images/add.gif) !important;
}
.x-btn-default-small .add {
    background-image: url(images/add16.gif) !important;
}
.x-btn-default-medium .add {
    background-image: url(images/add24.gif) !important;
}}